.app{
    background-color: #f1f2f5;
}
.app__body{
    display: flex;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 90, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 12, 192); 
}